.wrapper-scrollable {
  width: 100vw;
  overflow-x: auto;
}

.board {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  height: 90vh;
  max-height: 90vh;
}

.board-scrollable {
  width: 150vw;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
}

.panel {
  background-color: var(--mantine-color-dark-6);
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  box-shadow: var(--mantine-shadow-md);
  border-radius: var(--mantine-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  max-height: 90vh;
  overflow-y: scroll;
}

.heading {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-dark-6);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  z-index: var(--mantine-z-index-app);
}

.panelDragOver {
  background-color: var(--mantine-color-dark-4);
}

.card {
  display: flex;
  align-items: center;
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) - var(--mantine-spacing-md));
  background-color: var(--mantine-color-dark-5);
  margin-bottom: var(--mantine-spacing-sm);
  cursor: grab;

  &:hover {
    background-color: var(--mantine-color-dark-4);
  }
}

.cardLink {
  text-decoration: none;
  color: var(--mantine-color-dark-1);
}

.cardDragging {
  box-shadow: var(--mantine-shadow-sm);
}

.dragHandle {
  height: 100%;
  width: 100%;
  color: var(--mantine-color-dark-1);
  padding-right: var(--mantine-spacing-md);
}
