.board {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  height: 90vh;
  max-height: 90vh;
}

.panel {
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  box-shadow: var(--mantine-shadow-md);
  border-radius: var(--mantine-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  max-height: 90vh;
  overflow-y: scroll;
}

.card {
  display: flex;
  align-items: center;
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) - var(--mantine-spacing-md));
  margin-bottom: var(--mantine-spacing-sm);
  min-height: 100px;
}
